@{
	ViewData["Title"] = "Epreuve - ASP.NET / SQL";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/UI.styles.css" asp-append-version="true" />
</head>
<body>
	<header>
		<nav class="navbar navbar-expand-md navbar-light bg-light">
			<a class="navbar-brand" href="@Url.Action("Index", "Home")">Epreuve ASP.NET MVC</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNavbar"
					aria-controls="mainNavbar" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="mainNavbar">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item @(ViewContext.RouteData.Values["controller"].ToString() == "Jeu" ? "active" : "")">
						<a class="nav-link" href="@Url.Action("Index", "Jeu")">Jeux</a>
					</li>
					<li class="nav-item @(ViewContext.RouteData.Values["controller"].ToString() == "Emprunt" ? "active" : "")">
						<a class="nav-link" href="@Url.Action("Index", "Emprunt")">Emprunts</a>
					</li>
					<li class="nav-item @(ViewContext.RouteData.Values["controller"].ToString() == "Collection" ? "active" : "")">
						<a class="nav-link" href="@Url.Action("Index", "Collection")">Ma Collection</a>
					</li>
					<li class="nav-item @(ViewContext.RouteData.Values["controller"].ToString() == "Utilisateur" ? "active" : "")">
						<a class="nav-link" href="@Url.Action("Index", "Utilisateur")">Utilisateurs</a>
					</li>
					<li class="nav-item @(ViewContext.RouteData.Values["controller"].ToString() == "Utilisateur" ? "active" : "")">
						<a class="nav-link" href="@Url.Action("Create", "Utilisateur")">S'inscrire</a>
					</li>
				</ul>
			</div>
		</nav>
	</header>
	<div class="container body-content">
		@RenderBody()
		<hr />
		<footer>
			<p>&copy; @DateTime.Now.Year - Epreuve ASP.NET MVC</p>
		</footer>
	</div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
