@model IEnumerable<UI.Models.Jeu.JeuListItem>

@{
	ViewData["Title"] = "Liste des jeux";
}

<h1>Liste des jeux</h1>

<div class="row">
	@foreach (var item in Model)
	{
		<div class="col-md-6 col-lg-4 mb-4">
			<div class="card h-100 shadow-lg border-0 rounded-3">
				<div class="card-body">
					<h5 class="card-title text-primary">🎲 @item.JeuName</h5>
					<h6 class="card-subtitle mb-2 text-muted">
						📝 @item.Description
					</h6>
					<p class="card-text">						📅 <strong>Date de création :</strong> <span class="text-success">@item.DateCreation.ToString("dd/MM/yyyy")</span> <br />
						👶 <strong>Âge :</strong> @item.AgeMinimum+ <br />
						🎭 <strong>Joueurs :</strong> @item.NbJoueurMin - @item.NbJoueurMax <br />
						⏳ <strong>Durée :</strong> @(item.DureeMinute > 0 ? item.DureeMinute + " min" : "⚡ Rapide")
					</p>
				</div>
				<div class="card-footer d-flex justify-content-between bg-light">
					<a href="@Url.Action("Details", "Jeu", new { id = item.JeuId })" class="btn btn-primary btn-sm">Voir plus</a>
					<a href="@Url.Action("Edit", "Jeu", new { id = item.JeuId })" class="btn btn-sm btn-warning">
						Modifier
					</a>
					<a href="@Url.Action("Delete", "Jeu", new { id = item.JeuId })" class="btn btn-sm btn-danger">
						Supprimer
					</a>
				</div>
			</div>
		</div>
	}
</div>